html {
    background-color: white;
}

body {
    width: 500px;
    height: 400px;
    font-family: Arial;
    font-size: 12px;
    border: 1px solid black;
    margin: 10px;
    background-color: lightblue;
}

div {
    width: 400px;
    border: 1px solid black;
    margin: 10px;
    margin-bottom: 10px;
}


label {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-weight: bold;
}
  
input {
    margin-left: 10px;
}

button {
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}